### postgresql db varaibles
POSTGRES_DB=counseling
POSTGRES_USER=counseling
POSTGRES_PASSWORD=counseling


### core-api variables
DATABASE_URL=postgresql+asyncpg://counseling:counseling@db:5432/counseling
SYNC_DATABASE_URL=postgresql+psycopg2://counseling:counseling@localhost:5432/counseling # use localhost with docker-compose up db to generate alembic migration files then switch back to db for full docker compose up --build
JWT_SECRET=supersecret
JWT_ALGORITHM=HS256